<div class="card mb-3 " style="max-width: 540px;">
    <div class="row">
        <p class="p-date col-8">14.05.2019</p>
        <p class="p-status1 col-4">¡Nuevo!</p>
    </div>
    <div class="row no-gutters div-card">
        <div class="col-4">
            <img src="../../../../assets/img/alicorp-img.png" class="card-img img-alicorp" alt="...">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Alicorp Perú</h5>
                <p class="card-text">Reto #SalesDevelopment</p>
                <p class="card-text p-link"><a class="p-link">Ver proceso</a></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 " style="max-width: 540px;">
    <div class="row">
        <p class="p-date col-8">10.05.2019</p>
        <p class="p-status2 col-4">¡Vence pronto!</p>
    </div>
    <div class="row no-gutters div-card">
        <div class="col-4">
            <img src="../../../../assets/img/erp-img.png" class="card-img img-erp" alt="...">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Alicorp Perú</h5>
                <p class="card-text">Reto #SalesDevelopment</p>
                <p class="card-text p-link"><a class="p-link">Ver proceso</a></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 " style="max-width: 540px;">
    <div class="row">
        <p class="p-date col-8">14.05.2019</p>
        <p class="p-status1 col-4">¡Nuevo!</p>
    </div>
    <div class="row no-gutters div-card">
        <div class="col-4">
            <img src="../../../../assets/img/rimac-img.png" class="card-img img-rimac" alt="...">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">Alicorp Perú</h5>
                <p class="card-text">Reto #SalesDevelopment</p>
                <p class="card-text p-link"><a class="p-link">Ver proceso</a></p>
            </div>
        </div>
    </div>
</div>