<div class="container">
  <h3>¿Qué quieres lograr?</h3>
  <div>
    <div class="col-xs-4 col-sm-6 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <img class="img-responsive" src="../../../assets/img/quiz4.png" />
        <input type="checkbox" name="image[]" value="" />
        <a class="estrategias" [routerLink]="['/temas']">Mejorar mi estrategia de venta</a>
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <img class="img-responsive" src="../../../assets/img/quiz1.png" />
        <input type="checkbox" name="image[]" value="" />
        <a class="estrategias" [routerLink]="['/temas']">Ampliar mi red de contactos</a>
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
  </div>
  <div>
    <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <img class="img-responsive" src="../../../assets/img/quiz2.png" />
        <!-- <input type="checkbox" name="image[]" value="" />-->
        <a class="estrategias" [routerLink]="['/temas']">Potenciar mis habilidades personales</a>
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
      <label class="image-checkbox">
        <img class="img-responsive" src="../../../assets/img/quiz3.png" />
        <input type="checkbox" name="image[]" value="" />
        <a class="estrategias" [routerLink]="['/temas']">Conectarme con las mejores empresas del país</a>
        <i class="fa fa-check hidden"></i>
      </label>
    </div>
  </div>

</div>