<!-- <div>
  <div *ngFor = "let course of courseTopics">
      <h1>{{course.name}}</h1>
      <ul *ngFor = "let temas of course.topics">
              <li><button (click)="getTopicName(temas.nameTopic)" [routerLink]= "['/temas/curso']">{{temas.nameTopic}}</button></li>
      </ul>
  </div>
</div> -->
<div>
  <!-- <div *ngFor = "let questions of quizInitial"> -->
    <!-- <h1>{{quiz.descrip}}</h1> -->
    <h1>Pregunta 1</h1>
    <div>
      <label>Resp. 1 <input type="radio" id=""></label>
      <label>Resp. 2 <input type="radio" id=""></label>
    </div>
    <div>
      <label>Resp. 3 <input type="radio" id=""></label>
      <label>Resp. 4 <input type="radio" id=""></label>
    </div>
    <hr>
    <h1>Pregunta 2</h1>
    <div>
      <label>Resp. 1 <input type="radio" id=""></label>
      <label>Resp. 2 <input type="radio" id=""></label>
    </div>
    <div>
      <label>Resp. 3 <input type="radio" id=""></label>
      <label>Resp. 4 <input type="radio" id=""></label>
    </div>
    <hr>
  <!-- </div> -->
</div>