<form #formLogin="ngForm" (submit)="onLogin()">
  <h1 class="text-center display-5 mb-3 font-weight-normal margin-title">¡Bienvenid@!</h1>
  <img class="mx-auto d-block login-pic" src="../../../assets/img/usuario.png" alt="">
  <div class="form-group email-container">
    <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <a href="#" class="password-question">¿Olvidaste tu contraseña?</a>
  </div>
  <button type="submit" class="btn btn-lg btn-block mx-auto d-block login-btn">Iniciar Sesión</button>
  <div class="form-group text-center">
    <a routerLink="register">¿No tienes cuenta? Regístrate aquí</a>
  </div>
  <div class="form-group btn-container">
    <button type="button" class="btn btn-block btn-social btn-fb" (click)="onLoginFacebook()"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
    <button type="button" class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()" [routerLink]= "['/quiz']"><i class="fab fa-google-plus-g pr-1"></i>Google</button>
  </div>
</form>
